.button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.7em;

	cursor: pointer;

	transition: all 0.2s ease;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

/* Primary */
.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover,
.primary:focus {
	background-color: var(--primary-hover);
}

/* Ghost */
.ghost {
	color: var(--black);
	border: 1px solid var(--gray);
	background-color: unset;
}

.ghost:hover,
.ghost:focus {
	border: 1px solid var(--gray-hover);
}

/* hasArrow */
.hasArrow {
	display: flex;
	align-items: center;
	gap: 10px;
}
