.button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	border-radius: 5px;
	padding: .7em;

	font-size: 14px;

	transition: all .2s ease;
}

/* Primary */
.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover,
.primary:focus {
	background-color: var(--primary-hover);
}

/* Ghost */
.ghost {
	color: var(--black);
	border: 1px solid var(--gray);
	background-color: unset;
}

.ghost:hover,
.ghost:focus {
	border: 1px solid var(--gray-hover);	
}
