/* Default */
.default {
	display: inline-block;

	padding: .5em 1em;

	border-radius: 20px;

	font-size: 12px;
	line-height: 1;
}

/* Tag */
.ghost {
	border: 1px solid var(--gray);
	font-weight: 500;
}

/* Price */
.green {
	color: #1DC37E;
	background-color: var(--light-green);
	font-weight: 700;
}

/* Results */
.gray {
	background-color: var(--light-gray);
	color: var(--white);
	font-weight: 600;
	font-size: 14px;
	padding: 5px 10px;
}

/* Vacancy */
.red {
	background-color: #DE0000;
	color: var(--white);
	font-weight: 600;
	font-size: 14px;
}

/* Skill */
.primary {
	border: 1px solid var(--primary);
	color: var(--primary);
	font-weight: 500;
}
