@font-face {
	font-family: 'Noto Sans';
	font-weight: 300;
	font-display: swap;
	src:
		local('Noto Sans Light'),
		url('../public/fonts/NotoSansDisplay-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-display: swap;
	src:
		local('Noto Sans Regular'),
		url('../public/fonts/NotoSansDisplay-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-display: swap;
	src:
		local('Noto Sans Medium'),
		url('../public/fonts/NotoSansDisplay-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 700;
	font-display: swap;
	src:
		local('Noto Sans Bold'),
		url('../public/fonts/NotoSansDisplay-Bold.woff2') format('woff2');
}

:root {
	--font-family: 'Noto Sans', sans-serif;

	/* Colors */
	--black: #3B434E;
	--gray: #EBEBEB;
	--dark-gray: #787D85;
	--light-gray: #B3C0D9;
	--gray-hover: #B6B3B3;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5629FF;
	--red: #FC836D;
	--green: #1DC37E;
	--light-green: #C8F8E4;
	--background: #F5F6F8;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background);

	font-family: var(--font-family);
	font-weight: 400;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
